<?xml version="1.0" encoding="utf-8" ?>
  <configuration>
    <connectionStrings>
    <add name="BaseDeDatosTotem" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Santiago Bernal\Documents\GitHub\totem\src\Interfaz\App_Data\BaseDeDatosTotem.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--ESta linea, en la parte de attachdbfilename se deberia cambiar por la direccion de cada uno
    si consiguen una manera de hacerlo dinamico porfavor compartirla-->
  </connectionStrings>
</configuration>
