.dropdown ul li
{
    cursor: pointer;
}
.dropdown-menu
{
    width: 100%; 
}
.dropdown .btn
{
    width: 100%;
}
#rsocial
{
    margin-bottom: 1.1em;
}

@media (min-width: 768px)
{
    #rsocial
    {
        margin-bottom: inherit;
    }
}