.dropdown ul li
{
    cursor: pointer;
}
.dropdown-menu
{
    width: 100%; 
}
.dropdown .btn
{
    width: 100%;
}
#rsocial-id
{
    margin-bottom: 1.1em;
}

@media (min-width: 768px)
{
    #div_rsocial
    {
        width: 10%;
    }
    #div_rif
    {
        width: 31.7%;
    }
    #rsocial-id
    {
        margin-bottom: inherit;
    }
}