textarea {
    resize: none;
}
.note{
    font-style: italic;
    color: #5b5b5b;
}
.bootstrapBlue {
    color: #337ab7;
}
.sameLine {
    display: inline;
}
.desc {
    font-style: italic;
}
.link{
    font-size: 20px;
    font-style: normal;
}
.link:hover{
    text-decoration: none;
}